*{
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
body{
    margin: 0;
    padding: 0;

    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    transform-origin: center top;
}
#canvas-wrap{
    width: 500px;
    max-width: 100%;
    height: 530px;
    background-color: #ddd;
    position: relative;
    padding: 0;
    box-sizing: content-box;
    overflow: hidden;
}
.canvas{
    position: absolute;
    left: 10px;
    top: 15px;
    border: 0;
    max-width: 100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    border: 0.5px dotted #000;
}
#background-canvas{
    background-color: transparent;
}
#loading-box{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    /* display: none; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000;
    opacity: 0.5;
    z-index: 999;
}
label{
    cursor: pointer;
}
ul{
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
    /* max-height: 62px; */
}
.contentWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transform-origin: center top;
}
.palette{
    width: 500px;
    max-width: 100%;
    height: 90px;
    background: #FFEBD9;
    text-align: center;
}
.top{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top img{
    width: 140px;
    height: 60px;
    cursor: pointer;
}
.info{
    position: absolute;
    margin: 35px;
}
.row{
    left: 0;
    writing-mode: tb;
}
.column{
    top: 0;
    writing-mode: lr;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.b-menu{
    border: 0.5px solid #ddd;
    width: 25%;
    max-width: 25%;
    height: 100%;
    text-align: center;
}
.b-menu:nth-child(n+3){
    background: #FFD3BC;
}
.b-menu a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.b-menu span{
    font-size: 8px;
}
.bx {
    font-size: 60px;
}
.menu-wrap{
    display: none;
    /* display: block; */
    width: 100%;
    max-width: 250px;
    height: 680px;
    background-color: #eee; /* わかりやすいよう色付け。後で消す */
}
.set-menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.3px solid #ddd;
    text-align: center;
    background-color: rgba(255,235,217, 0.8);
    width: 100%;
    height: 34px;
    line-height: 34px;
}
.set-menu-header label{
    font-size: 1.5em;
    position: absolute;
    right: 10px;
    top: 3px;
}
.set-menu-header i{
    font-size: 1.3em;
    position: absolute;
    right: 10px;
}
.setting-content{
    height: 87.2%;
    overflow: scroll;
    /* border: 0.5px solid #ddd; */
}
.collapsed{
    display: none;
}
.content-container ul,
#textColor ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content-container ul li{
    margin: 2.5px;
}
.propaties-box{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    border: 0.5px solid #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.propaties{
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding: 2px 0;
    overflow-wrap: break-word;
    background-color: rgba(255,255,255,0.7);
}
#sampleText-wrap{
    font-size: 24px;
}
#sampleText{
    margin: 4px 0 5px 0;
    width: 100%;
    height: auto;
    max-height: 34px;
    text-align: center;
    overflow-wrap: break-word;
    line-height: 1;
}
#InsertText{
    width: 200px;
    border: 1px double #ddd;
    padding-left: 30px;
    height: 30px;
    margin-bottom: 10px;
}
#fontFamily-content ul,
.fontFamily-content{
    text-align: center;
    display: block;
    width: 92%;
    overflow: scroll;
    margin: 0 10px;
    padding: 10px 15px;
    font-size: 19px;
}
#fontFamily-content ul li,
.fontFamily-content li{
    padding: 5px;
    cursor: pointer;
}
.propaties-list ul{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px double #000;
}
.propaties-list ul li{
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.thum-sticky{
    width: 100px;
    height: 100px;
    border: 0.6px solid #ddd;
    cursor: pointer;
}
#layer-content ul li{
    margin: 0;
}
.layerList{
    font-size: 14px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 68px;
    text-align: center;
}
.layerList .bx{
    font-size: 24px;
    cursor: pointer;
}
.layerList div:nth-child(1){
    flex-basis: 20%;
}
.layerList div:nth-child(2){
    flex-basis: 60%;
    text-align: left;
    overflow: hidden;
}
.layerList div:nth-child(3){
    flex-basis: 20%;
    cursor: pointer;
}
.layerList .bx-show{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: calc(100% - calc(100% - 12px));
    padding-right: calc(100% - calc(100% - 12px));
}
#text-Screen, #sticky-Screen{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* z-index: 100; */
}
#textPreviewCanvas{
    width: 352px;
    height: 80px;
    border: 1px solid #ddd;
    position: absolute;
    top: 25px;
    left: 10px;
}
.text-options{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 10px;
    top: 180px;
    width: 352px
}
.text-options a{
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    /* border: 1px solid #000; */
    width: 25%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
input{
    display: none;
}
#insertTextInput{
    display: inline-block;
    position: absolute;
    top: 105px;
    left: 10px;
    width: 290px;
    text-align: center;
    height: 50px;
    font-size: 20px;
}
.setting-content2{
    position: absolute;
    top: 215px;
    left: 10px;
    width: 350px;
    text-align: center;
    height: 280px;
    overflow: scroll;
    border: 1px solid darkslategray;
}
.setting-content2 ul{
    padding-top: 5px;
}
#entryTextBtn{
    position: absolute;
    width: 60px;
    height: 50px;
    top: 105px;
    left: 305px;
}
#sizeCheck{
    color: transparent;
    /* color: #f00; */
    font-size: 50px;
}
.selected-item{
    border: 5px solid #fff;
    box-shadow: 0 0 0.375em rgba(0, 0, 0, 0.5);
}
.selected{
    border: 2px solid #fff;
    box-shadow: 0 0 0.375em rgba(0, 0, 0, 0.5);
}
.text-options .selected{
    border: none;
    border-bottom: 5px solid #000;
    box-shadow:none;
}
.options{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;
    right: 10px;
    /* background-color:#000; */
    flex-wrap: wrap;
    width: 120px;
}
.option{
    margin: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#bgColor-Screen{
    position: absolute;
    bottom: -50%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50%;
    transition: all 0.3s ease;
}
#textEtc ul{
    height: 100%;
    overflow: scroll;
    font-size: 18px;
    font-weight: bold;
}
#textEtc ul li{
    margin: 10px 0;
}
#textEtc ul li .wrap{
    width: 80%;
    height: 50px;
    background-color: #FFEBD9;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
#textEtc ul li a{
    display: block;
    width: 80%;
    height: 50px;
    line-height: 50px;
    background-color: #FFEBD9;
    margin-left: auto;
    margin-right: auto;
}
.io-btn-wrap{
    margin: 30px;
}
.io-btn{
    position: relative;
    width: 50px;
    height: 5px;
    border: 1px solid #888;
    border-radius: 2px;
    background-color: #888;
}
.io-btn::before{
    width: 15px;
    height: 15px;
    border: 1px solid #888;
    background-color: #888;
    border-radius: 10px;
    content: '';
    position: absolute;
    display: inline-block;
    left: 36px;
    top: -6px;
    transition: all 0.3s ease;
}
#io-btn-outline:checked ~ .io-btn::before,
#io-btn-outline:checked ~ .io-btn,
#io-btn-writingMode:checked ~ .io-btn::before,
#io-btn-writingMode:checked ~ .io-btn{
    left: -1px;
    border: 1px solid #FF945C;
    background-color: #FF945C;
}
.io-btn label{
    display: block;
}
.wrap-screen{
    z-index: 100;
}
#previewImage{
    /* display: flex; */
    position: absolute;
    top: 0;
    background-color: rgba(255,255,255, 0.5);
    width: 100vw;
    height: 100vh;
    transform-origin: center top;
}
#previewImage img{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#space{
    width: 100%;
    height: 50%;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    bottom: -50%;
    z-index: 999;
    transition: all 0.3s ease;
}
.confirmScreen{
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}
#confirmBack{
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.popUp{
    position: absolute;
    width: 75%;
    min-width: 300px;
    max-width: 400px;
}
.popUp img{
    width: 100%;
    min-width: 300px;
}
.confirm-btn{
    position: absolute;
    width: 50%;
    height: 25%;
    bottom: 0;
}
.left{
    left: 0;
}
.right{
    right: 0;
}
/* checkbox */
#cBox-bgColor:checked ~ #space {
    bottom: 50%;
}
#cBox-bgColor:checked ~ #bgColor-Screen{
    bottom: 0;
}
#cBox-text:checked ~ #background-canvas,
#cBox-sticky:checked ~ #background-canvas{
    filter: blur(10px);
}
#cBox-text:checked ~ #text-Screen,
#cBox-sticky:checked ~ #sticky-Screen{
    display: block;
}
@media screen and (max-width: 680px){
    body{
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}
